<!DOCTYPE html>
<html>

<head>
    <title>Product List</title>
</head>

<body>
    <h1>Welcome, {{username}}</h1>
    <h2>Your cart</h2>

    {{#each cartProducts}}
    <div>
        Product: {{this.title}} - Quantity: {{this.quantity}}
    </div>
    {{/each}}
</body>

</html>